.offer_row input {
    display: inline-block;
    width: auto;
    float: left;
    margin: 0;
    margin-right: 5px;
    width: auto !important;
    height: auto !important;
}

.offer_row span {
    font-size: 11px;
    line-height: 14px;
    font-family: sans-serif;
    color: #333;
    position: relative;
    top: -1px;
    display: block;
}

.offer_row {
    max-width: 400px;
    text-align: left;
    position: relative;
    margin-top: 15px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}


.flex_form_wr .button{
    justify-content: center;
}

.embed-responsive .volume {
    position: absolute;
    width: 160px;
    height: 140px;
    top: calc(50% - 70px);
    left: calc(50% - 80px);
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    animation: pulse 1s linear infinite;
}

.embed-responsive .volume p {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.embed-responsive .volume i {
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}